<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <p>Dear {{ username }},</p>
    <p>Click the following link to reset your password:</p>
    <a href="{{ resetUrl }}">Reset Password</a>
    <p>If you didn't request this, please ignore this email.</p>
</body>
</html>
